problems:
- problem_name: tutorial
  repo_name: matsubara0507/git-challenge-tutorial
  difficulty: 1
  challenge_branches:
  - readme
  - master
  - task-1
  - task-2
  ci_branch: ci

- problem_name: is-order-an-adding
  repo_name: matsubara0507/git-challenge-is-order-an-adding
  difficulty: 1
  challenge_branches:
  - readme
  - master
  ci_branch: ci

- problem_name: minesweeper
  repo_name: matsubara0507/git-challenge-minesweeper
  difficulty: 1
  challenge_branches:
  - readme
  - master
  - checker
  ci_branch: ci

teams:
- name: sample
  id: alpha
  member:
  - name: MATSUBARA Nobutada
    github: matsubara0507
  repos:
  - problem: matsubara0507/git-challenge-tutorial
    github: sample-hige/git-challenge-tutorial
  - problem: matsubara0507/git-challenge-is-order-an-adding
    github: sample-hige/git-challenge-is-order-an-adding
  - problem: matsubara0507/git-challenge-minesweeper
    github: sample-hige/git-challenge-minesweeper
