problems:
- id: 1
  name: tutorial
  repo: matsubara0507/git-challenge-tutorial
  difficulty: 1
  challenge_branches:
  - readme
  - master
  - task-1
  - task-2
  answer_branch: master
  ci_branch: ci

- id: 2
  name: is-order-an-adding
  repo: matsubara0507/git-challenge-is-order-an-adding
  difficulty: 1
  challenge_branches:
  - readme
  - master
  answer_branch: master
  ci_branch: ci

- id: 3
  name: minesweeper
  repo: matsubara0507/git-challenge-minesweeper
  difficulty: 1
  challenge_branches:
  - readme
  - master
  - checker
  answer_branch: master
  ci_branch: ci

teams:
- name: sample
  id: alpha
  member:
  - name: MATSUBARA Nobutada
    github: matsubara0507
  repos:
  - name: git-challenge-tutorial
    org: sample-hige
    problem: 1
    private: false
  - name: git-challenge-is-order-an-adding
    org: sample-hige
    problem: 2
    private: false
  - name: git-challenge-minesweeper
    org: sample-hige
    problem: 3
    private: false
